<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            table tr td{
                border: solid 2px;
                text-align: center;
                padding: 50px;
            }
            table{
                border-collapse: collapse;
                margin-left: 20%;
                font-size: 40px;
            }
        </style>
        <script>
            function show(a) {
                // alert(a.innerText);
                const uri = 'delete';
                fetch(uri, {
                method:'POST',
                body:JSON.stringify({
                    id : 10 
                }),
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
                })
                .then(res => {
                    return res.json();   
                }).then(result => {
                    alert(result); 
                });
            }
        </script>
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>歌名</th>
                <th>歌號</th>
                <th>id</th>
            </tr>
        {% for song in song_list %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.song_name }}</td>
                <td>{{ song.song_num }}</td>
                <td onclick="show(this)">{{ song.id }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>