<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            table tr td{
                border: solid 2px;
                text-align: center;
                padding: 50px;
            }
            table{
                border-collapse: collapse;
                margin-left: 20%;
                font-size: 40px;
            }
        </style>
    </head>
    <body>
        <table>
            <th>
                <td>id</td>
                <td>歌名</td>
                <td>歌號</td>
                <td>id</td>
            </th>
        {% for song in song_list %}
            <tr>
                <form action="delete"><td>{{ song.id }}</td></form>
                <td>{{ song.song_name }}</td>
                <td>{{ song.song_num }}</td>
                <td>{{ song.id }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>