<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/mask.css">
    <script src="static/mask.js"></script> 
    <style>
        .cen {
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
            padding-top: 10px;
        }          
        #success{
            text-align: center;
            font-size: larger;
            display: none;
        }    
        #fail{
            text-align: center;
            font-size: larger;
            display: none;
        }    
    </style>
    <script>
            function show() {
                const parent = document.getElementById("loading_area");
                const uri = 'create';
                const name = document.getElementById("song_name");
                const num = document.getElementById("song_num");
                mask();
                fetch(uri, {
                    method:'POST',
                    body:JSON.stringify({
                        songname : name.value,
                        songnum : num.value 
                    }),
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                })                 
                .then(result => {
                    if(result.status == 200) {
                        document.getElementById("success").style.display = "block"; 
                    } else {
                        document.getElementById("fail").style.display = "block";
                    }
                }).catch(() => {
                    document.getElementById("fail").style.display = "block";
                })
                .finally(() => {
                    setTimeout(unmask, 2000);
                    unmask();
                    name.value = "";
                    num.value = "";
                });
                parent.appendChild(load());
            }                                                      
    </script>
</head>

<body>
    <div id="loading_area"></div>
    <div class="cen">
        {% csrf_token %}
        <label for="song_name" style="padding: 10px;">輸入歌名:</label>
        <input type="text" id="song_name" name="song_name"><br/>
        <label for="song_num" style="padding: 10px;">輸入歌號:</label>
        <input type="text" id="song_num" name="song_num"><br/>
        <input type="submit" style="margin-top: 20px;" value="加入" onclick="show()">
    </div>
    <div>
        <p id="success">新增歌曲成功</p>
        <p id="fail">新稱歌曲失敗</p>
    </div>
</body>
</html>